body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #fefefe;
  color: #333;
  text-align: center;
}

.frango {
  width: 300px;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
